<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829064800241-1je0e7fh5b78h6ki9b54mfo2i9tc7jgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829064800241-1je0e7fh5b78h6ki9b54mfo2i9tc7jgt</string>
	<key>API_KEY</key>
	<string>AIzaSyCBvcaOSiUSm0ZI7RyUjD2blAv6yKynT3w</string>
	<key>GCM_SENDER_ID</key>
	<string>829064800241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shan.iXpense</string>
	<key>PROJECT_ID</key>
	<string>ixpense-cbac5</string>
	<key>STORAGE_BUCKET</key>
	<string>ixpense-cbac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829064800241:ios:73550655e7311b5b</string>
	<key>DATABASE_URL</key>
	<string>https://ixpense-cbac5.firebaseio.com</string>
</dict>
</plist>